.noprint{

visibility: hidden; 
}

.print *{

visibility: visible; 
		
}

.print{
		background-color: white;
        width: 90% !important ;
		height: 95% !important ;
        position: absolute !important;
        top: 0 !important;
        left: 3% !important;
        margin: 0 !important;
		line-height:25px !important;
		font-size:18px !important;

}
#after_heading
{
	height:220px !important;
	width: 100%; 
}
#emp_basic_details_1
{
height:210px !important;
}
#salary_details_values
{
	margin-top: 30px;
	height: 100px;
}